Installing extra packages

In [1]:
!pip install sqlalchemy
!pip install psycopg2-binary

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.9/site-packages (1.4.34)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.9/site-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.9/site-packages (2.9.3)

Imports

In [2]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import numpy as np
import matplotlib.pyplot as plt

Creating DataFrame

In [5]:
df = pd.read_csv('trips.csv')
df.head()

,region,origin_coord,destination_coord,datetime,datasource
0,Prague,POINT (14.4973794438195 50.00136875782316),POINT (14.43109483523328 50.04052930943246),2018-05-28 09:03:40,funny_car
1,Turin,POINT (7.672837913286881 44.9957109242058),POINT (7.720368637535126 45.06782385393849),2018-05-21 02:54:04,baba_car
2,Prague,POINT (14.32427345662177 50.00002074358429),POINT (14.47767895969969 50.09339790740321),2018-05-13 08:52:25,cheap_mobile
3,Turin,POINT (7.541509189114433 45.09160503827746),POINT (7.74528653441973 45.02628598341506),2018-05-06 09:49:16,bad_diesel_vehicles
4,Turin,POINT (7.614078119815749 45.13433106465422),POINT (7.527497142312585 45.03335051325654),2018-05-23 12:45:54,pt_search_app

Trips with similar origin grouped together

In [6]:
%matplotlib inline
classes, counts = np.unique(df["region"], return_counts=True)
print (classes)
print ("\n")
print (counts)
df[["destination_coord", "region"]]\
    .groupby("region")\
    .sum()

['Hamburg' 'Prague' 'Turin']


[28 34 38]

                                         destination_coord
region
Hamburg  POINT (9.789197601249002 53.46315765148751)POI...
Prague   POINT (14.43109483523328 50.04052930943246)POI...
Turin    POINT (7.720368637535126 45.06782385393849)POI...

Inserting trips.csv file into PostgreSQL

In [7]:
engine = create_engine('postgresql://postgres:postgres@postgres:5432/postgres')
df.to_sql('trips', engine)

100